body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

#horizontalFlex {
    display: flex;
    align-items: center;
    height: 90vh;
}

#gridSpace {
    display: flex;
    width: 80vw;
    margin: 20px;
}

#markersSpace {
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 80vh;
    margin: 10px;
    border-radius: 5px;
    background-color: #535353;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.floatingBox {
    background-color: black;
    border: 5px solid white;
    border-radius: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 30vw;
    height: 40vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    display: inline-grid;
    width: 100%;
    gap: 10px;
    margin: 10px;
}

.grid-text-item {
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 1;
}

.grid-colour-item {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    aspect-ratio: 1;
}

.player-marker {
    border-radius: 100%;
    border: 3px solid black;
    aspect-ratio: 1;
    width: 60%;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    flex: 0 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    width: 40%;
    background-color: #535353;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    align-self: center;
}